

body{
    background-color: #f4f4f4;
	background-image: url("../images/wallpapergardenlake.jpg");
}
table {
    border-collapse: separate;
    font-size: 1.2em;
	padding-left: 20px;
	padding-right: 20px;
}
th,
td {
    border: 3px solid rgba(163, 125, 78, 0.5);
}
th,
td {
    padding: 5px 5px;
}

#pagination{
    font-size: 1.5em;
}
