

h1{
	font-size: 4em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

h3{
	font-size: 2em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}
.centered{
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.numberCircle {
    display: inline-block;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 60px;
	min-width: 60px;
    height: 60px;
    padding: 10px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}

.formHeadText{
    font-size: 2em;
}

body{
    background-color: #f4f4f4;
	background-image: url("../images/wallpapergardenlake.jpg");
	font-size: 14px;
}

#main {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 962px;
	height: 100%;
}

#header {
    position: relative;
    background-color: #ab1b03;
	background-image: url("../images/food1.jpg");
	height: 200px;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
	text-align: center;
    margin-bottom: 0px;
    -moz-box-shadow: inset 0px -7px 20px -10px #000000;
    -webkit-box-shadow: inset 0px -7px 20px -10px #000000;
    box-shadow: inset 0px -7px 20px -10px #000000;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
#backBtn {
    min-width: 160px;
    width: 15%;
    background-color: #e1e1e1;
    color: #AB1B03;
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid #761100;
    font-weight: bold;
    text-shadow: none;
 }

#formTitle {
    text-align: center;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.16);
    color: #AB1B03;
    margin-bottom: 0px;
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 50%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 50%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ededed 0%,#ffffff 50%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

}

#formContainer {
	background: "#ffffff";
	background-image: url("../images/formBackground2.jpg");
    padding: 10px;
    -moz-box-shadow: inset 0px 7px 20px -10px #000000;
    -webkit-box-shadow: inset 0px 7px 20px -10px #000000;
    box-shadow: inset 0px 7px 20px -10px #000000;
    min-height: 300px;
    position: relative;
}

.main-container{
    max-width: 400px;
    min-height: 300px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    border-bottom: none;
    -webkit-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.66);
}
